<br/>
<h1>Discord Tier</h1>
<br/>
<div class="row">
  <%= render 'tier/cards/discord/aimbots' %>
  <%= render 'tier/cards/discord/alt_f4' %>
  <%= render 'tier/cards/discord/eclipse' %>
  <%= render 'tier/cards/discord/frantic_lavacats' %>
  <%= render 'tier/cards/discord/harmony_in_chaos' %>
  <%= render 'tier/cards/discord/instaloch' %>
  <%= render 'tier/cards/discord/invictus' %>
  <%= render 'tier/cards/discord/kommit' %>
  <%= render 'tier/cards/discord/majesty_ruby' %>
  <%= render 'tier/cards/discord/meteors' %>
  <%= render 'tier/cards/discord/otaku' %>
  <%= render 'tier/cards/discord/prodigious' %>
  <%= render 'tier/cards/discord/renovatio' %>
  <%= render 'tier/cards/discord/snowday' %>
  <%= render 'tier/cards/discord/sugar_rush' %>
  <%= render 'tier/cards/discord/tough_luck' %>
</div>