<div style="background-color: #fafdff;background-image: url(<%= asset_path 'shattered.png' %>);width: 100%; height: 100%;">
  <br/><br/>
  <h1 style="font-size:4rem;">Discord Tier</h1>
  <br/>
  <div class="row" style="padding-left:10vw;padding-right:10vw;padding-top:3vh;">
    <%= render 'tier/cards/discord/aimbots' %>
    <%= render 'tier/cards/discord/alt_f4' %>
    <%= render 'tier/cards/discord/eclipse' %>
    <%= render 'tier/cards/discord/frantic_lavacats' %>
    <%= render 'tier/cards/discord/harmony_in_chaos' %>
    <%= render 'tier/cards/discord/instaloch' %>
    <%= render 'tier/cards/discord/invictus' %>
    <%= render 'tier/cards/discord/kommit' %>
    <%= render 'tier/cards/discord/majesty_ruby' %>
    <%= render 'tier/cards/discord/meteors' %>
    <%= render 'tier/cards/discord/otaku' %>
    <%= render 'tier/cards/discord/prodigious' %>
    <%= render 'tier/cards/discord/renovatio' %>
    <%= render 'tier/cards/discord/snowday' %>
    <%= render 'tier/cards/discord/sugar_rush' %>
    <%= render 'tier/cards/discord/tough_luck' %>
  </div>
  <br/><br/><br/>
</div>