<h1>Discord tier</h1>
<div class="row mb-2">
  <%= render 'tier/cards/discord/aimbots' %>
  <%= render 'tier/cards/discord/alt_f4' %>
</div>
<div class="row mb-2">
  <%= render 'tier/cards/discord/eclipse' %>
  <%= render 'tier/cards/discord/instaloch' %>
</div>
<div class="row mb-2">
  <%= render 'tier/cards/discord/invictus' %>
  <%= render 'tier/cards/discord/harmony_in_chaos' %>
</div>
<div class="row mb-2">
  <%= render 'tier/cards/discord/majesty_ruby' %>
  <%= render 'tier/cards/discord/meteors' %>
</div>
<div class="row mb-2">
  <%= render 'tier/cards/discord/otaku' %>
  <%= render 'tier/cards/discord/prodigious' %>
</div>
<div class="row mb-2">
  <%= render 'tier/cards/discord/renovatio' %>
  <%= render 'tier/cards/discord/tough_luck' %>
</div>
<div class="row mb-2">
  <%= render 'tier/cards/discord/sugar_rush' %>
  <%= render 'tier/cards/discord/revival' %>
</div>
<div class="row mb-2">
  <%= render 'tier/cards/discord/tailwind' %>
  <%= render 'tier/cards/discord/ascension' %>
</div>