<h1>Discord tier</h1>
<div class="row mb-2">
  <div class="col-md-6">
    <div class="card flex-md-row mb-4 box-shadow h-md-250">
      <div class="card-body d-flex flex-column align-items-start">
        <strong class="d-inline-block mb-2 text-primary">Discord</strong>
        <h3 class="mb-0">
          <a class="text-dark" href="#">Eclipse</a>
        </h3>
        <div class="mb-1 text-muted">Average SR: 3500</div>
        <hr style="margin-top: 10px; margin-bottom: 5px;">
        <p class="card-text mb-auto">Something interesting about the team goes here, or maybe the team members.....</p>
        <a href="#" style="color: #000">Team Page</a>
      </div>
      <img class="card-img-right flex-auto d-none d-md-block" style="width: 200px; height: 250px;" src="<%= asset_path 'newteams/eclipse_too.png' %>">
    </div>
  </div>
  <div class="col-md-6">
    <div class="card flex-md-row mb-4 box-shadow h-md-250">
      <div class="card-body d-flex flex-column align-items-start">
        <strong class="d-inline-block mb-2 text-warning">Harmony</strong>
        <h3 class="mb-0">
          <a class="text-dark" href="#">Revival</a>
        </h3>
        <div class="mb-1 text-muted">Average SR: 2500</div>
        <hr style="margin-top: 10px; margin-bottom: 5px;">
        <p class="card-text mb-auto">Something interesting about the team goes here, or maybe the team members.....</p>
        <a href="#" style="color: #000">Team Page</a>
      </div>
      <img class="card-img-right flex-auto d-none d-md-block" style="width: 200px; height: 250px;" src="<%= asset_path 'newteams/revival_too.png' %>">
    </div>
  </div>
</div>
<div class="row mb-2">
  <div class="col-md-6">
    <div class="card flex-md-row mb-4 box-shadow h-md-250">
      <div class="card-body d-flex flex-column align-items-start">
        <strong class="d-inline-block mb-2 text-primary">Discord</strong>
        <h3 class="mb-0">
          <a class="text-dark" href="#">Eclipse</a>
        </h3>
        <div class="mb-1 text-muted">Average SR: 3500</div>
        <hr style="margin-top: 10px; margin-bottom: 5px;">
        <p class="card-text mb-auto">Something interesting about the team goes here, or maybe the team members.....</p>
        <a href="#" style="color: #000">Team Page</a>
      </div>
      <img class="card-img-right flex-auto d-none d-md-block" style="width: 200px; height: 250px;" src="<%= asset_path 'newteams/eclipse_too.png' %>">
    </div>
  </div>
  <div class="col-md-6">
    <div class="card flex-md-row mb-4 box-shadow h-md-250">
      <div class="card-body d-flex flex-column align-items-start">
        <strong class="d-inline-block mb-2 text-warning">Harmony</strong>
        <h3 class="mb-0">
          <a class="text-dark" href="#">Revival</a>
        </h3>
        <div class="mb-1 text-muted">Average SR: 2500</div>
        <hr style="margin-top: 10px; margin-bottom: 5px;">
        <p class="card-text mb-auto">Something interesting about the team goes here, or maybe the team members.....</p>
        <a href="#" style="color: #000">Team Page</a>
      </div>
      <img class="card-img-right flex-auto d-none d-md-block" style="width: 200px; height: 250px;" src="<%= asset_path 'newteams/revival_too.png' %>">
    </div>
  </div>
</div>
<div class="row mb-2">
  <div class="col-md-6">
    <div class="card flex-md-row mb-4 box-shadow h-md-250">
      <div class="card-body d-flex flex-column align-items-start">
        <strong class="d-inline-block mb-2 text-primary">Discord</strong>
        <h3 class="mb-0">
          <a class="text-dark" href="#">Eclipse</a>
        </h3>
        <div class="mb-1 text-muted">Average SR: 3500</div>
        <hr style="margin-top: 10px; margin-bottom: 5px;">
        <p class="card-text mb-auto">Something interesting about the team goes here, or maybe the team members.....</p>
        <a href="#" style="color: #000">Team Page</a>
      </div>
      <img class="card-img-right flex-auto d-none d-md-block" style="width: 200px; height: 250px;" src="<%= asset_path 'newteams/eclipse_too.png' %>">
    </div>
  </div>
  <div class="col-md-6">
    <div class="card flex-md-row mb-4 box-shadow h-md-250">
      <div class="card-body d-flex flex-column align-items-start">
        <strong class="d-inline-block mb-2 text-warning">Harmony</strong>
        <h3 class="mb-0">
          <a class="text-dark" href="#">Revival</a>
        </h3>
        <div class="mb-1 text-muted">Average SR: 2500</div>
        <hr style="margin-top: 10px; margin-bottom: 5px;">
        <p class="card-text mb-auto">Something interesting about the team goes here, or maybe the team members.....</p>
        <a href="#" style="color: #000">Team Page</a>
      </div>
      <img class="card-img-right flex-auto d-none d-md-block" style="width: 200px; height: 250px;" src="<%= asset_path 'newteams/revival_too.png' %>">
    </div>
  </div>
</div>