<h1>Discord tier</h1>
<div class="row mb-2">
  <%= render 'tier/eclipse' %>
  <%= render 'tier/revival' %>
</div>
<div class="row mb-2">
  <%= render 'tier/eclipse' %>
  <%= render 'tier/revival' %>
<div class="row mb-2">
  <%= render 'tier/eclipse' %>
  <%= render 'tier/revival' %>
</div>
<div class="row mb-2">
  <%= render 'tier/eclipse' %>
  <%= render 'tier/revival' %>
</div>
<div class="row mb-2">
  <%= render 'tier/eclipse' %>
  <%= render 'tier/revival' %>
</div>
<div class="row mb-2">
  <%= render 'tier/eclipse' %>
  <%= render 'tier/revival' %>
</div>
<div class="row mb-2">
  <%= render 'tier/eclipse' %>
  <%= render 'tier/revival' %>
</div>
<div class="row mb-2">
  <%= render 'tier/eclipse' %>
  <%= render 'tier/revival' %>
</div>