<h1>Harmony Tier</h1>
<div class="row">
  <%= render 'tier/cards/harmony/careless_pandas' %>
  <%= render 'tier/cards/harmony/comets' %>
</div>
<div class="row">
  <%= render 'tier/cards/harmony/ddos' %>
  <%= render 'tier/cards/harmony/elusion' %>
</div>
<div class="row">
  <%= render 'tier/cards/harmony/fighting_potatoes' %>
  <%= render 'tier/cards/harmony/gravity' %>
</div>
<div class="row">
  <%= render 'tier/cards/harmony/holy_jalapenos' %>
  <%= render 'tier/cards/harmony/jetpack_cats' %>
</div>
<div class="row">
  <%= render 'tier/cards/harmony/karma' %>
  <%= render 'tier/cards/harmony/maelstrom' %>
</div>
<div class="row">
  <%= render 'tier/cards/harmony/minty_hippos' %>
  <%= render 'tier/cards/harmony/overtime' %>
</div>
<div class="row">
  <%= render 'tier/cards/harmony/pacified_pythons' %>
  <%= render 'tier/cards/harmony/spare_change' %>
</div>
<div class="row">
  <%= render 'tier/cards/harmony/vitamin_c' %>
  <%= render 'tier/cards/harmony/unded_battery' %>
</div>