<div style="background-color: #fafdff;background-image: url(<%= asset_path 'shattered.png' %>);width: 100%; height: 100%;">
  <br/><br/>
  <h1>Harmony Tier</h1>
  <br/>
  <div class="row" style="padding-left:10vw;padding-right:10vw;padding-top:3vh;">
    <%= render 'tier/cards/harmony/careless_pandas' %>
    <%= render 'tier/cards/harmony/comets' %>
    <%= render 'tier/cards/harmony/ddos' %>
    <%= render 'tier/cards/harmony/elusion' %>
    <%= render 'tier/cards/harmony/fighting_potatoes' %>
    <%= render 'tier/cards/harmony/gravity' %>
    <%= render 'tier/cards/harmony/holy_jalapenos' %>
    <%= render 'tier/cards/harmony/jetpack_cats' %>
    <%= render 'tier/cards/harmony/karma' %>
    <%= render 'tier/cards/harmony/maelstrom' %>
    <%= render 'tier/cards/harmony/minty_hippos' %>
    <%= render 'tier/cards/harmony/overtime' %>
    <%= render 'tier/cards/harmony/pacified_pythons' %>
    <%= render 'tier/cards/harmony/spare_change' %>
    <%= render 'tier/cards/harmony/vitamin_c' %>
    <%= render 'tier/cards/harmony/unded_battery' %>
  </div>
  <br/><br/><br/>
</div>
