<h1>Harmony Tier</h1>
<div class="row mb-2">
  <%= render 'tier/cards/harmony/karma' %>
  <%= render 'tier/cards/harmony/elusion' %>
</div>
<div class="row mb-2">
  <%= render 'tier/cards/harmony/careless_pandas' %>
  <%= render 'tier/cards/harmony/ddos' %>
</div>
<div class="row mb-2">
  <%= render 'tier/cards/harmony/jetpack_cats' %>
  <%= render 'tier/cards/harmony/maelstrom' %>
</div>
<div class="row mb-2">
  <%= render 'tier/cards/harmony/overtime' %>
  <%= render 'tier/cards/harmony/undead_battery' %>
</div>
<div class="row mb-2">
  <%= render 'tier/cards/harmony/vitamin_c' %>
  <%= render 'tier/cards/harmony/cherry_bomb' %>
</div>
<div class="row mb-2">
  <%= render 'tier/cards/harmony/comets' %>
  <%= render 'tier/cards/harmony/fighting_potatoes' %>
</div>
<div class="row mb-2">
  <%= render 'tier/cards/harmony/gravity' %>
  <%= render 'tier/cards/harmony/minty_hippos' %>
</div>