<h1>Season One</h1>

<%= image_tag 'season_two_teams/ctrl_too.png', style: 'max-width: 300px;'%>
<%= image_tag 'season_two_teams/dracarys_too.png', style: 'max-width: 300px;'%>
<%= image_tag 'season_two_teams/edgelords_too.png', style: 'max-width: 300px;'%>
<%= image_tag 'season_two_teams/fishsticks_too.png', style: 'max-width: 300px;'%>
<%= image_tag 'season_two_teams/gravity_too.png', style: 'max-width: 300px;'%>
<%= image_tag 'season_two_teams/harmony_too.png', style: 'max-width: 300px;'%>
<%= image_tag 'season_two_teams/highres_too.png', style: 'max-width: 300px;'%>
<%= image_tag 'season_two_teams/liquid_too.png', style: 'max-width: 300px;'%>
<%= image_tag 'season_two_teams/silence_too.png', style: 'max-width: 300px;'%>
<%= image_tag 'season_two_teams/takeout_too.png', style: 'max-width: 300px;'%>