<h1>Season Two</h1>

<%= image_tag 'season_two_teams/aimbots_too.png', style: 'max-width: 300px;'%>
<%= image_tag 'season_two_teams/altf4_too.png', style: 'max-width: 300px;'%>
<%= image_tag 'season_two_teams/ascension_too.png', style: 'max-width: 300px;'%>
<%= image_tag 'season_two_teams/elusion_too.png', style: 'max-width: 300px;'%>
<%= image_tag 'season_two_teams/gravity_too.png', style: 'max-width: 300px;'%>
<%= image_tag 'season_two_teams/harmony_too.png', style: 'max-width: 300px;'%>
<%= image_tag 'season_two_teams/havoc_too.png', style: 'max-width: 300px;'%>
<%= image_tag 'season_two_teams/liquid2_too.png', style: 'max-width: 300px;'%>
<%= image_tag 'season_two_teams/meteors_too.png', style: 'max-width: 300px;'%>
<%= image_tag 'season_two_teams/otaku_too.png', style: 'max-width: 300px;'%>
<%= image_tag 'season_two_teams/potatoes_too.png', style: 'max-width: 300px;'%>
<%= image_tag 'season_two_teams/rejects_too.png', style: 'max-width: 300px;' %>
<%= image_tag 'season_two_teams/renegades_too.png', style: 'max-width: 300px;'%>
<%= image_tag 'season_two_teams/solocup_too.png', style: 'max-width: 300px;'%>
<%= image_tag 'season_two_teams/sugar_too.png', style: 'max-width: 300px;'%>
<%= image_tag 'season_two_teams/turtles_too.png', style: 'max-width: 300px;'%>
<%= image_tag 'season_two_teams/wrecking_too.png', style: 'max-width: 300px;'%>