<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <%= link_to(root_path, class: "navbar-brand") do %>
      <%= image_tag 'tranq2020favicon.png', class: 'd-inline-block align-top', style: 'width: 30px; height: 30px;' %>
      Overwatch Tranquility
    <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Rosters
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to('Harmony Tier 2000 – 3000 SR (2650 SR Average)', "https://docs.google.com/spreadsheets/d/1a6gvHt-BPyViXasGsw6D_abziPXwAvHIJxIbDtcpNJ4/edit?usp=sharing", class: "dropdown-item") %>
            <%= link_to('Discord Tier 2800 – 3500 SR (3200 SR Average)', "https://docs.google.com/spreadsheets/d/1u3KCN6QmROo4uwPyEd1xa4QD6rbZZqiIyO8Q9yNFq_M/edit?usp=sharing", class: "dropdown-item") %>
            <%= link_to('Transcendence Tier 3300 - 4000 SR (3750 SR Average)', "https://docs.google.com/spreadsheets/d/159P4gIkI3gfzGnmjrFPySIjk2QqUDKmg3d6chUHLStE/edit?usp=sharing", class: "dropdown-item") %>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Matches
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to('Harmony Tier Aurum', "https://docs.google.com/spreadsheets/d/1btPcbSt7ZkSIr4n7MeUHhbTbiY6vu99773S_IcVsaKk/edit?usp=sharing", class: "dropdown-item", :target => "_blank") %>
            <%= link_to('Harmony Tier Indigo', "https://docs.google.com/spreadsheets/d/1oLZzcTzej4rSW2uuJgXS1iSnrY1KNdWK34GnspDjmKE/edit?usp=sharing", class: "dropdown-item", :target => "_blank") %>
            <%= link_to('Harmony Tier Elimination', "https://docs.google.com/spreadsheets/d/1Q9QjZ3TGS54ePoLn68iV2AVyvpH9uTZZ4DaaNFQYLXc/edit?usp=sharing", class: "dropdown-item", :target => "_blank") %>
            <%= link_to('Discord Tier Aurum', "https://docs.google.com/spreadsheets/d/1NVOyhsHBsX-drHD9nMdufKKlFTSZw91fFTpkKpwfoXI/edit?usp=sharing", class: "dropdown-item", :target => "_blank") %>
            <%= link_to('Discord Tier Indigo', "https://docs.google.com/spreadsheets/d/1X1bXP87QMTJzA65D7XXib6eI4trtPQnNgsGDNzizK_0/edit?usp=sharing", class: "dropdown-item", :target => "_blank") %>
            <%= link_to('Discord Tier Elimination', "https://docs.google.com/spreadsheets/d/1PtgVkQzz5_e-BkfJRUClyhCFnB6S8CnTVBfVVEWR9D4/edit?usp=sharing", class: "dropdown-item", :target => "_blank") %>
            <%= link_to('Transcendence Tier Aurum', "https://docs.google.com/spreadsheets/d/1yVHVj35j5Sre9XFqCISSh_PK_5Kzf9oRiAhhA3up0bo/edit?usp=sharing", class: "dropdown-item", :target => "_blank") %>
            <%= link_to('Transcendence Tier Indigo', "https://docs.google.com/spreadsheets/d/1e3EN4nFV9kF1j8G9zFBkG3aELpuRgM2FQbQ8LKpzDCg/edit?usp=sharing", class: "dropdown-item", :target => "_blank") %>
            <%= link_to('Transcendence Tier Elimination', "https://docs.google.com/spreadsheets/d/1fXpsg3Ks6bYxZFeVS9nX9XonIeV3KkeirybwUnLn_bg/edit?usp=sharing", class: "dropdown-item", :target => "_blank") %>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Schedule
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to('Harmony Tier', "https://www.toornament.com/en_US/tournaments/4809730653463879680/matches/schedule", class: "dropdown-item", :target => "_blank") %>
            <%= link_to('Discord Tier', "https://www.toornament.com/en_US/tournaments/4809775329813782528/matches/schedule", class: "dropdown-item", :target => "_blank") %>
            <%= link_to('Transcendence Tier', "https://www.toornament.com/en_US/tournaments/4809776538701357056/matches/schedule", class: "dropdown-item", :target => "_blank") %>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Store
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to('Apparel', "https://shop.spreadshirt.com/owtranquility/", class: "dropdown-item", :target => "_blank") %>
            <%= link_to('Jerseys', "https://shop.spreadshirt.com/owtranquilityjerseys", class: "dropdown-item", :target => "_blank") %>
            <%= link_to('Retired Jerseys', "https://shop.spreadshirt.com/owtranquilityretired/", class: "dropdown-item", :target => "_blank") %>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Social Media
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to('Twitch', "https://www.twitch.tv/owtranquility", class: "dropdown-item", :target => "_blank") %>
            <%= link_to('Twitter', "https://twitter.com/owtranquility", class: "dropdown-item", :target => "_blank") %>
            <%= link_to('Youtube', "http://www.youtube.com/c/owtranquility", class: "dropdown-item", :target => "_blank") %>
            <%= link_to('Discord', "http://www.discord.io/owtranquility", class: "dropdown-item", :target => "_blank") %>
            <%= link_to('Facebook', "http://www.facebook.com/owtranquility", class: "dropdown-item", :target => "_blank") %>
            <%= link_to('Maps', home_maps_path, class: "dropdown-item") %>
          </div>
        </li>
        <li class="nav-item">
          <%= link_to('Contact', home_contact_path, class: "nav-link") %>
        </li>
      </ul>
    </div>
  </div>
</nav>
