<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <%= link_to(root_path, class: "navbar-brand") do %>
      <%= image_tag 'tranq2020favicon.png', class: 'd-inline-block align-top', style: 'width: 30px; height: 30px;' %>
      Overwatch Tranquility
    <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Rosters
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to('Harmony Tier 2000 – 3000 SR (2650 SR Average)', harmonyrosters_path, class: "dropdown-item") %>
            <%= link_to('Discord Tier 2800 – 3500 SR (3200 SR Average)', discordrosters_path, class: "dropdown-item") %>
            <%= link_to('Transcendence Tier 3300 - 4000 SR (3750 SR Average)', trancerosters_path, class: "dropdown-item") %>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Matches
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to('Harmony Tier Aurum', wmsharmonyaurum_path, class: "dropdown-item", :target => "_blank") %>
            <%= link_to('Harmony Tier Indigo', wmsharmonyindigo_path, class: "dropdown-item", :target => "_blank") %>
            <%= link_to('Harmony Tier Elimination', wmsharmonyelimination_path, class: "dropdown-item", :target => "_blank") %>
            <%= link_to('Discord Tier Aurum', wmsdiscordaurum_path, class: "dropdown-item", :target => "_blank") %>
            <%= link_to('Discord Tier Indigo', wmsdiscordindigo_path, class: "dropdown-item", :target => "_blank") %>
            <%= link_to('Discord Tier Elimination', wmsdiscordelimination_path, class: "dropdown-item", :target => "_blank") %>
            <%= link_to('Transcendence Tier Aurum', wmstranceaurum_path, class: "dropdown-item", :target => "_blank") %>
            <%= link_to('Transcendence Tier Indigo', wmstranceindigo_path, class: "dropdown-item", :target => "_blank") %>
            <%= link_to('Transcendence Tier Elimination', wmstranceelimination_path, class: "dropdown-item", :target => "_blank") %>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Schedule
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to('Harmony Tier', harmonyschedule_path, class: "dropdown-item", :target => "_blank") %>
            <%= link_to('Discord Tier', discordschedule_path, class: "dropdown-item", :target => "_blank") %>
            <%= link_to('Transcendence Tier', tranceschedule_path, class: "dropdown-item", :target => "_blank") %>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Store
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to('Apparel', "https://shop.spreadshirt.com/owtranquility/", class: "dropdown-item", :target => "_blank") %>
            <%= link_to('Jerseys', "https://shop.spreadshirt.com/owtranquilityjerseys", class: "dropdown-item", :target => "_blank") %>
            <%= link_to('Retired Jerseys', "https://shop.spreadshirt.com/owtranquilityretired/", class: "dropdown-item", :target => "_blank") %>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Social Media
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to('Twitch', "https://www.twitch.tv/owtranquility", class: "dropdown-item", :target => "_blank") %>
            <%= link_to('Twitter', "https://twitter.com/owtranquility", class: "dropdown-item", :target => "_blank") %>
            <%= link_to('Youtube', "http://www.youtube.com/c/owtranquility", class: "dropdown-item", :target => "_blank") %>
            <%= link_to('Discord', "http://www.discord.io/owtranquility", class: "dropdown-item", :target => "_blank") %>
            <%= link_to('Facebook', "http://www.facebook.com/owtranquility", class: "dropdown-item", :target => "_blank") %>
            <%= link_to('Maps', home_maps_path, class: "dropdown-item") %>
          </div>
        </li>
        <li class="nav-item">
          <%= link_to('Contact', home_contact_path, class: "nav-link") %>
        </li>
      </ul>
    </div>
  </div>
</nav>
