<div class="index-carousel">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <!-- Slide One - Set the background image for this slide in the line below -->
      <div class="carousel-item active" style="background-image: url(<%= asset_path 'splash/tranq.jpeg' %>)">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="display-4">Overwatch Tranquility</h2>
          <p class="lead">Where pros are born.</p>
        </div>
      </div>
      <!-- Slide Two - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url(<%= asset_path 'splash/overwatch-logo2.jpg' %>)">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="display-4">Overwatch Tranquility</h2>
          <p class="lead">Where dreams are made.</p>
        </div>
      </div>
      <!-- Slide three - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url(<%= asset_path 'splash/bastion.jpg' %>)">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="display-4">Overwatch Tranquility</h2>
          <p class="lead">Where legends are forged.</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
  </div>
</div>
<br/><br/>
<!-- parallax testing
<div class="row">
  <div class="parallax" style="background-image: url(<%= asset_path 'splash/overwatch-logo-small.png' %>)">
    <h3 class="parallax-call-action">Meet the teams</h3>
  </div>
</div>
-->

<div class="container">
<%= render 'home/news' %>
</div>