<% team = Team.find_by_name("Careless Pandas") %>
<div class="card text-center team-card-size">
  <img class="card-img-top" src="<%= asset_path 'season_three_teams/harmony/carelessPandas_too.png' %>">
  <div class="card-body-nopad card-body">
    <h3 class="mb-0 text-dark">
      <%= team.name %>
    </h3>
    <h5 class="text-dark">Total members: <%= team.player.count %></h5>
    <div class="text-muted">AVG Team SR: <%= team.sr %></div>
    <br/>
    <div class="card-footer card-footer-nopad">
      <%= link_to team_careless_pandas_path, class: 'btn btn-block btn-light team-card-btn' do %>
        View Roster <i class="fas fa-angle-down"></i>
      <% end %>
    </div>
  </div>
</div>