<% team = Team.find_by_name("Vitamin C") %>
    <div class="card text-center" style="width: 18rem;margin-left: 5px; margin-right: 5px;">
      <img class="card-img-top" src="<%= asset_path 'season_three_teams/harmony/vitaminC_too.png' %>">
      <div class="card-body-nopad">
        <h3 class="mb-0 text-dark">
          <%= team.name %>
        </h3>
        <h5 class="text-dark">Total members: <%= team.player.count %></h5>
        <div class="text-muted">Average SR: <%= team.sr %></div>
        <br/>
        <div class="card-footer-nopad">
          <%= link_to 'Roster', team_vitamin_c_path, class: 'btn btn-block btn-light' %>
        </div>
      </div>
    </div>