<div class="container">
    <div class="card text-center team-card-bg">
      <div class="card-body">
        <ul class=" list-group list-group-flush">
            <% team.player.each do |x| %>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-3"><h2><a class="top-cover-link-black" href="https://www.overbuff.com/players/pc/<%= x.battletag.gsub("#","-") %>"><%= x.name %></a></h2></div>
                        <div class="col-md-3"><h3>SR: <%= if x.sr == 0 then "N/A" else x.sr end %></h3></div>
                        <div class="col-md-4" style="border-radius: 25px;background-color:#222">
                            <% if x.role.upcase == "TANK" %>
                                <b style="color: #DDD;">Tank</b>
                                <img style="height: 50px;" src="<%= asset_path 'TankIcon.png' %>">
                            <% elsif x.role.upcase == "SUPPORT" %>
                                <b style="color: #DDD;">Support</b>
                                <img style="height: 50px;" src="<%= asset_path 'SupportIcon.png' %>">
                            <% elsif x.role.upcase == "DPS" %>
                                <b style="color: #DDD;">DPS</b>
                                <img style="height: 50px;" src="<%= asset_path 'DPSIcon.png' %>">
                            <% else %>
                                <b style="color: #DDD;">Flex</b>
                                <img style="height: 50px;" src="<%= asset_path 'FlexIcon.png' %>">
                            <% end %>
                        </div>
                    </div>
                </li>
            <% end %>
        </ul>
      </div>
    </div>
</div>