<% team = Team.find_by_name("Aimbots") %>
<h1><%= team.name %></h1>
<br/>
<h2>Tier: <div style="color: red"><%= team.tier %></div></h2>
<br/>
<h2>SR: <div style="color: red"><%= team.sr %></div></h2>
<br/>
<% if !team.gm.empty? %>
    <h2>GM: <div style="color: red"><%= team.gm %></div></h2>
    <br/>
<% end %>
<% if !team.coach.empty? %>
    <h2>Coach: <div style="color: red"><%= team.coach %></div></h2>
    <br/>
<% end %>
<% if !team.captain.empty? %>
    <h2>Captain: <div style="color: red"><%= team.captain %></div></h2>
    <br/>
<% end %>
<% if !team.affiliate.nil? %>
    <h2>Affiliate: <div style="color: red"><%= team.affiliate %></div></h2>
    <br/>
<% end %>
<% if !team.twittername.empty? %>
    <h2>Twitter: <div style="color: red"><%= team.twittername %></div></h2>
    <br/>
<% end %>
<% if !team.discordname.empty? %>
    <h2>Discord: <div style="color: red"><%= team.discordname %></div></h2>
    <br/>
<% end %>
<h2>Roster:</h2>
<% team.player.each do |x| %>
  <h4 style="color: red"><%= x.name %></h4>
<% end %>