<!DOCTYPE html>
<html>
  <head>
    <title>Overwatch Tranquility</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('tranq2020favicon.png') %>
  </head>

  <body class="text-center">
    <div id="wrap">
      <%= render 'shared/nav' %>
      <div id="main" class="clear-top">
        <%= yield %>
      </div>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
